/*-------------------------------------------------------*/
/* Responsive Styles
/*-------------------------------------------------------*/

@media (max-width: 1199px) {

  .rev_slider_wrapper.container {
    padding: 0;
  }
}


@media (max-width: 991px) {

  h1 {font-size: 26px; }
  h2 { font-size: 22px; }
  h3 { font-size: 20px; }
  h4 { font-size: 18px; }
  h5 { font-size: 16px; }
  h6 { font-size: 14px; }
  h1,h2,h3,h4,h5,h6 { line-height: 1.2 }

  .section-wrap {
    padding: 80px 0;
    background-attachment: scroll !important;
    background-position: 50% 50% !important;
  }

  .container-fluid.semi-fluid {
    padding: 0 30px;
  }

  .statistic .timer {
    font-size: 50px;
  }

  .call-to-action h2 {
    font-size: 36px;
  }

  .footer-widgets .row > div {
    margin-bottom: 60px;
  }

  .page-title .container {
    height: 200px;
  }

  .page-title.style-2 .container {
    height: 400px !important;
  }

  .title-text h1 {
    font-size: 36px;
    margin-top: 0;
  }

  .sidebar:not(.left-sidebar) {
    padding-left: 15px;
  }

  .sidebar .widget.categories {
    display: none;
  }

  .sidebar .widget.colors .color-title {
    display: none;
  }

  .sidebar .widget.colors .list-no-dividers > li {
    padding: 0px 5px !important;
    margin-bottom: 25px;
    float: left;
  }

  .heading-row {
    margin-bottom: 40px;
  }

  .testimonials .testimonial-text {
    font-size: 22px;
    line-height: 36px;
  }

  #flexslider-hero .flex-control-nav {
    bottom: 15px;
  }

  .hero-heading {
    font-size: 40px;

    &.large {
      font-size: 65px;
    }
  }

  .hero-lines:before {
    margin-bottom: 4px;
  }

  .hero-lines:after {
    margin-top: 13px;
  }

  .hero-holder .btn span {
    line-height: 40px;
  }

  .hero-lines {
    margin-bottom: 20px;
  }

  .newsletter-box h5,
  .call-to-action h5 {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .newsletter-box h5,
  .newsletter-box form,
  .newsletter-box form input,
  .call-to-action h5 {
    display: block;
  }

  .newsletter-box form input {
    margin: 0 auto;
  }

  .newsletter-box .newsletter-input {
    float: none;
    width: 50%;
    min-width: 260px;
    margin-bottom: 10px;
  }

  .ecommerce form #customer_details p {
    width: 100%;
  }

  .product-actions li:last-child {
    margin-left: 0;
    margin-top: 15px;
  }

}


@media (max-width: 767px) {
  .container-fluid.semi-fluid {
    padding: 0 15px;
  }

  .call-to-action h3 {
    margin-bottom: 20px;
  }

  .entry-content {
    padding-left: 0;
    border-left: none;
    margin-top: 30px;
  }

  .entry-wrap {
    padding-top: 30px;
  }

  .service-item-box.arrow-next:after {
    display: none;
  }

  .hero-holder.right-align {
    width: 100%;
    right: auto;
  }

  .product-actions li:last-child {
    margin-top: 0;
  }
}


@media (max-width: 640px) {

  .col-xxs-12 {
    width: 100%;
  }

  .col-xxs-6 {
    width: 50%;
  }

  .intro-heading {
    font-size: 25px;
  }

  .entry .blockquote-style-1 {
    padding: 40px;
  }

  .entry .blockquote-style-1 p:before {
    display: none;
  }

  .pagination a:first-child {
    margin-right: 5px;
    width: 20px;
  }

  .pagination a:last-child {
    margin-left: 5px;
    width: 20px;
  }

  .pagination a > i {
    font-size: 20px;
  }

  #flexslider-hero .img-holder {
    min-height: 215px;
    height: auto;
  }

  .hero-heading {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .hero-subheading {
    font-size: 11px;
  }

  #flexslider-hero .btn-lg {
    font-size: 12px;
    padding: 0px 15px;
  }

  #flexslider-hero .flex-control-nav {
    bottom: 0;
  }

  .hero-holder {
    top: 45%;
  }

  .hero-lines {
    margin-bottom: 10px;
  }

  #flexslider-hero .hero-holder.right-align {
    left: 15%;
    width: 94%;
    padding-right: 20px;
  }

  #flexslider-hero .hero-holder.text-right {
    left: 50%;
    width: 50%;
  }

  .hero-holder .btn span {
    line-height: 25px;
  }

  .hero-holder p {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.5;
  }

  #flexslider-hero .hero-holder.left-align {
    left: 10%;
    padding-right: 30px;
  }

  .banner-wrap .hero-heading {
    font-size: 21px;
  }

  .ecommerce-ordering {
    width: auto;
  }

  .catalogue.pb-40 {
    padding-bottom: 20px;
  }

  .catalogue.pt-70 {
    padding-top: 30px;
  }

  #flexslider-hero .hero-lines:before,
  #flexslider-hero .hero-lines:after {
    width: 165px;
  }

  #flexslider-hero .text-center.hero-holder p {
    padding: 0 20px;
  }

  #flexslider-hero .left-align.hero-holder p {
    margin-right: 50px;
  }

  .promo_check .field-order-promo,
  .promo_check input.btn {
    width: 50%;
  }
}

@media (max-width: 540px) {

  .table-wrap {
    overflow-x: scroll;
  }
}


@media (max-width: 480px) {

  .page-404 h1 {
    font-size: 100px;
  }

  .newsletter .newsletter-form {
    width: 100%;
    margin-right: 0;
  }

  .nav-tabs > li {
    float: none;
    width: 100%;
  }

  .img-holder {
    min-height: 215px;

    &.img-1 {
      background-image: url(../img/slider/1-mobile.jpg?1);
    }

    &.img-2 {
      background-image: url(../img/slider/2-mobile.jpg?1);
    }

    &.img-3 {
      background-image: url(../img/slider/3-mobile.jpg);
    }

    &.img-4 {
      background-image: url(../img/slider/4-mobile.jpg?1);
    }

    &.img-5 {
      background-image: url(../img/slider/5-mobile.jpg?1);
    }

    &.img-6 {
      background-image: url(../img/slider/6-mobile.jpg?1);
    }

    &.img-7 {
      background-image: url(../img/slider/7-mobile.jpg);
    }
  }

  .size-options {
      width: 150px;
  }

  .section-wrap {
    padding: 40px 0;
  }

  .section-wrap.nopadding-wide { padding-top: 40px; }

  .single-product .mb-60 {
    margin-bottom: 30px;
  }

  .single-product .product-description {
    margin: 0;
  }

  .square {
    padding-bottom: 20px;
  }

  .select-options {
    padding: 8px 0;
  }

}


@media (max-width: 454px) {
  .product-actions li:last-child {
    margin-top: 15px;
  }
}