// Colors
$text-color: #000000;
$heading-color: #444444;
$subheading-color: #acacac;
$bg-light: #f7f7f7;
$bg-dark: #171717;
$dark-grey: #424242;
$light-grey: #a3a3a3;
$border-color: #ebebeb;
$main-color: #f570bb;
$bg-white: #f7f7f7;
$color-red: #ff4646;


// Fonts
$body-font: 'Raleway', sans-serif;
$heading-font: 'Etelka Light Pro', sans-serif;
$alt-font: 'Playfair Display', serif;